:root {
  --border: black;
  --ocean: #5eaef9;
  --ship: #627790;
  --hit: #d82a31;
  --miss: #e7eef4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
}

header > * {
  font-size: 6rem;
  margin-top: 32px;
  padding: 16px;
  background: linear-gradient(var(--border), var(--ocean));
  background-clip: text;
  color: transparent;
}

main {
  flex: 1;
  width: 90%;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.player {
  display: grid;
  grid-template-rows: 2rem 1fr;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

.square {
  border: 1px solid var(--border);
  cursor: pointer;
}

.square[data-col='0'] {
  border-top: 2px solid var(--border);
}

.square[data-col='9'] {
  border-bottom: 2px solid var(--border);
}

.square[data-row='0'] {
  border-left: 2px solid var(--border);
}

.square[data-row='9'] {
  border-right: 2px solid var(--border);
}

.inactive {
  cursor: default;
}

.ocean {
  background-color: var(--ocean);
}

.ship {
  background-color: var(--ship);
}

.hit {
  background-color: var(--hit);
}

.miss {
  background-color: var(--miss);
}

footer {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 16px;
}
