:root {
  --border: black;
  --ocean: #5eaef9;
  --ship: #627790;
  --hit: #d82a31;
  --miss: #e7eef4;
  --gray: #323232;
  --battleship: linear-gradient(
    var(--miss) 45%,
    var(--gray) 50%,
    var(--ocean) 55%
  );
  font-family: Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template:
    'header' max-content
    'main' 1fr
    'footer' max-content;
  height: 100vh;
  background-color: var(--gray);
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
}

header > * {
  font-size: 6rem;
  margin-top: 32px;
  padding: 16px;
  background: var(--battleship);
  background-clip: text;
  color: transparent;
}

main {
  grid-area: main;
  width: 90%;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

main h2 {
  color: var(--miss);
}

main :last-child > h2 {
  justify-self: end;
}

.player {
  display: grid;
  grid-template-rows: 3rem 1fr;
  justify-content: center;
  align-self: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

.square {
  border: 1px solid var(--border);
  cursor: pointer;
}

.square[data-col='0'] {
  border-top: 2px solid var(--border);
}

.square[data-col='9'] {
  border-bottom: 2px solid var(--border);
}

.square[data-row='0'] {
  border-left: 2px solid var(--border);
}

.square[data-row='9'] {
  border-right: 2px solid var(--border);
}

.inactive {
  cursor: default;
}

.ocean {
  background-color: var(--ocean);
}

.ship {
  background-color: var(--ship);
}

.miss,
.hit {
  position: relative;
}

.miss::after,
.hit::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.hit::after {
  background-color: var(--hit);
}

.miss::after {
  background-color: var(--miss);
}

.modal {
  height: 100%;
  width: 50%;
  grid-area: main;
  align-self: center;
  justify-self: center;
  display: grid;
  justify-items: center;
  align-items: center;
  background: var(--miss);
  padding: 32px;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  border: 4px solid var(--ocean);
  border-radius: 5px;
  z-index: 2;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.game-start {
  grid-template:
    'comm comm' 3rem
    'name name' 2rem
    'place place' 2rem
    'board board' 1fr
    'random play' 4rem;
}

.game-start > :first-child {
  grid-area: comm;
  font-size: 1.5rem;
  color: var(--gray);
  font-weight: 700;
}

.game-start > :nth-child(2) {
  grid-area: name;
  font-size: 1rem;
  padding: 4px;
}

.game-start > :nth-child(3) {
  grid-area: place;
  font-weight: 700;
  color: var(--gray);
}

.game-start > :nth-child(4) {
  grid-area: board;
}

.game-start > :nth-child(5),
.game-start > :last-child,
.game-over :last-child {
  height: max-content;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--ship);
  color: var(--miss);
  padding: 16px;
  border: none;
  border-radius: 5px;
}

.game-start > :nth-child(5) {
  grid-area: random;
  font-size: 1.2rem;
  background-color: var(--hit);
}

.game-start > :last-child {
  grid-area: play;
  font-size: 1.2rem;
}

.game-start .board {
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(10, 20px);
}

.game-over > :first-child {
  font-size: 4rem;
  color: var(--hit);
  font-weight: 700;
}

.game-over > :nth-child(2) {
  font-size: 2rem;
  color: var(--ocean);
  font-weight: 700;
}

.game-start > :nth-child(4):hover {
  background-color: rgba(216, 42, 49, 0.8);
}

.game-start > :last-child:hover,
.game-over > :last-child:hover {
  background-color: rgba(98, 119, 144, 0.8);
}

.preview {
  background-color: rgba(98, 119, 144, 0.8);
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  gap: 8px;
  background: var(--battleship);
  background-clip: text;
  color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 16px;
}
